# NOTE: this dockerignore is actually designed to apply to parent folder
# Copy with with a symlink when required

driver/.eggs
driver/.pytest_cache
driver/.tox
driver/*.egg-info

# Ignore other repos

app/
web/