[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
invoke = {version="*", index="pypi"}
bumpversion = {version="*", index="pypi"}
coverage = {version="*", index="pypi"}
wheel = {version="*", index="pypi"}
sphinx = {version="*", index="pypi"}
twine = {version="*", index="pypi"}
tox = {version="*", index="pypi"}
"flake8" = {version="*", index="pypi"}
pylint = {version="*", index="pypi"}
pytest = {version="*", index="pypi"}
isort = {version="*", index="pypi"}
yapf = {version="*", index="pypi"}
grpcio-tools = {version="*", index="pypi"}
ipython = {version="*", index="pypi"}

[packages]
flipdot_controller = {path = ".", editable = true}
